.Header {
  text-align: center;
  background-color: #e8e8e8;
  font-size: 30px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.TaskColumn .Col{
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

.to-do {
  background-color: #c2d5f3;
}

.in-progress {
  background-color: #e5e3a5;
}

.done {
  background-color: #a5e3a5;
}

.pending {
  background-color: #f3c2c2;
}

.AddTaskBar {
  padding: 10px;
  margin-bottom: 20px;
}

.AddTaskField {
  padding: 10px;
  width: 100%;
  border: 1.5px solid #000000;
  border-radius: 5px;
  font-size: 20px;
}

.AddTaskButton {
  width: 100%;
}

.task-card {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1.5px solid #565656;
  border-radius: 5px;
  background-color: white;
}

.task-card input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.task-card.completed {
  text-decoration: line-through;
}