{% extends "base.html" %} {% block content %}
<div class="container">
  <h1 class="title">Edit List</h1>

  <div class="box">
    <form method="POST">
      <div class="field">
        <label class="label">List Name</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="list_name"
            value="{{ list.list_name }}"
          />
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary">Save Changes</button>
        </div>
        <div class="control">
          <a href="{{ url_for('lists.dashboard') }}" class="button is-light"
            >Cancel</a
          >
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
